@font-face {
  font-family: 'ObelixPro';
  src: url('../assets/fonts/ObelixPro-cyr.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/ObelixPro-cyr.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/ObelixPro-cyr.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ObelixPro-cyr.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ObelixPro-cyr.svg#a24000c5b8a2765b757f3fe01b59bd13') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'ObelixPro';
  src: url('../assets/fonts/ObelixProB-cyr.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/ObelixProB-cyr.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/ObelixProB-cyr.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ObelixProB-cyr.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ObelixProB-cyr.svg#f84c80a2c027a891385a033b8a70351d') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'ObelixPro';
  src: url('../assets/fonts/ObelixProBIt-cyr.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/ObelixProBIt-cyr.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/ObelixProBIt-cyr.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ObelixProBIt-cyr.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ObelixProBIt-cyr.svg#0e9b6808053f0084a7ca6d38757a32b9') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'ObelixPro';
  src: url('../assets/fonts/ObelixProIt-cyr.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/ObelixProIt-cyr.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/ObelixProIt-cyr.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/ObelixProIt-cyr.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/ObelixProIt-cyr.svg#acd67bad86b5bd2ac262f10e643ddcd0') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

